@import "compass/css3";

$btn-size: 96px;
$initial-height: none;

.xplayer {
  cursor: pointer;
  position: relative;
  img {
    display: none;
    width: 100%;
  }
  video {
    width: 100%; 
    height:auto; 
    max-width: 1136px;
  }
  .pasue-btn {
    display: none;
  }
}
.xplayer.initial {
  // max-height: $initial-height;
  // overflow: hidden;
  img {
    display: block;
    margin-top: 0;
  }
  video {
    display: none;
  }
}
.xplayer.paused:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: center center no-repeat rgba(0,0,0,0.3);
  background-image: inline-image('btn_play_normal.png');
}

.xplayer.paused .pause-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$btn-size/2;
  margin-left: -$btn-size/2;
  display: block;
}
.pause-btn {
  height: $btn-size;
  width: $btn-size;
  line-height: $btn-size;
  @include box-sizing(border-box);
  background-color: rgba(0,0,0,0.7);
  color: rgba(255,255,255,0.9);
  @include border-radius(100%);
  position: relative;
}

.pause-btn:before { 
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: relative;
  top: $btn-size*0.3;
  left: $btn-size*0.36;
  border-left: $btn-size/2.5*0.86 solid rgba(255,255,255,0.9);
  border-top: $btn-size/5 solid transparent;
  border-bottom: $btn-size/5 solid transparent;
}

.pause-btn:after {
  content: '';
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border: 5px solid rgba(255,255,255,0.9);
  @include border-radius(100%);
}
